<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="header-content">
                    <div class="header-content-inner">
                        <div class="header-logo"></div>
                        <h1>A home <i class="fa fa-home"></i> for Vietnamese doers in London</h1>
                    </div>
                    <a href="#values" class="page-scroll below-sections"><i class="fa fa-angle-double-down"></i></a>
                </div>
            </div>
        </div>
    </div>
</header>
