<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand page-scroll" href="#page-top">VietStartup London</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#values">Values</a>
                </li>
                <li>
                    <a class="page-scroll" href="#resources">Resources</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
