
    <section id="features" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>Curabitur sed tincidunt lacus, eget pharetra felis</h2>
                        <p class="text-muted">In ultricies, odio auctor accumsan rutrum, ipsum urna pretium tortor, a hendrerit purus turpis vitae metus.</p>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <!-- <i class="icon-screen-smartphone text-primary"></i> -->
                                    <h3>Facebook</h3>
                                    <p class="text-muted">Find out about our events, share insightful stories and join the group discussion</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <!-- <i class="icon-camera text-primary"></i> -->
                                    <h3>Medium</h3>
                                    <p class="text-muted">Read about the stories of our community members</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <!-- <i class="icon-present text-primary"></i> -->
                                    <h3>Podcast</h3>
                                    <p class="text-muted">Listen to stories of our Vietnamese entrepreneurs across the globe</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <!-- <i class="icon-lock-open text-primary"></i> -->
                                    <h3>Trello</h3>
                                    <p class="text-muted">Lead your own event or find out what project is on the menu</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
