
    <section id="features" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>Lorem ipsum dolor sit amet</h2>
                        <p class="text-muted">Nullam rhoncus, lorem at rutrum consectetur, lectus sem viverra sem, sit amet sodales neque leo in magna</p>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <!-- <i class="icon-screen-smartphone text-primary"></i> -->
                                    <h3>Entrepreneurship</h3>
                                    <p class="text-muted">We believe that entrepreneurs will shape the future of Vietnam</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <!-- <i class="icon-camera text-primary"></i> -->
                                    <h3>Learning</h3>
                                    <p class="text-muted">We believe in learning together by building things, and breaking things</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <!-- <i class="icon-present text-primary"></i> -->
                                    <h3>Generosity</h3>
                                    <p class="text-muted">We believe in pay-it-forward</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <!-- <i class="icon-lock-open text-primary"></i> -->
                                    <h3>Status quo</h3>
                                    <p class="text-muted">We believe in challenging the status quo through art, technology, and entrepreneurship</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="feature-item">
                                    <!-- <i class="icon-lock-open text-primary"></i> -->
                                    <h3>Radicality</h3>
                                    <p class="text-muted">We believe in the power of radical ambitions</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
